/* Estilos para el menú lateral */
.menu-lateral {
    position: absolute;
    top: 80px;
    left: -280px;
    /* Oculta el menú al principio */
    width: 320px;
    /* Menú más ancho */
    height: 710px;
    background-color: #5C5E5F;
    color: black;
    transition: left 0.3s ease;
    border-radius: 0 20px 20px 0; /* Bordes redondeados solo en las esquinas derechas */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

.row {
    border-bottom: 1px solid rgba(23, 32, 42, 0.2); /* Línea de separación entre filas */
    padding: 10px 0; /* Espacio entre filas */
}

.col {
    padding: 0px 0; /* Espacio entre columnas */
    font-size: 16px; /* Tamaño de fuente para las columnas */
}

p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
    font-size: 10px; /* Tamaño de fuente para los párrafos */
}

/* Estilos para centrar los títulos */
.col p {
    text-align: center;
    font-size: 12px; /* Tamaño de fuente para los títulos */
}

/* Estilos para mostrar los datos debajo de los títulos */
.col span {
    display: block;
    text-align: center;
    font-size: 13px; /* Tamaño de fuente para los datos */
}

#imgAvion img {
    max-width: 100%; /* La imagen ocupará como máximo el ancho del contenedor */
    height: 160px; /* La altura de la imagen se ajustará automáticamente para mantener la proporción */
    display: block; /* Esto garantiza que la imagen no genere espacio adicional debajo de ella */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
    border-radius: 30px;
}

#rowscontainer {
    background-color: #E9E9E9; /* Cambia el color de fondo a gris claro */
    border-radius: 10px 10px 10px 10px;
    width: calc(110px + 180px); /* Calcula el ancho total sumando el valor del margen derecho */
}

#containerreport {
    background-color: #F9F9F9; /* Color de fondo rojo */
    position: absolute; /* Posicionamiento absoluto */
    top: 80px; /* Espacio desde la parte superior */
    left: 330px; /* Ancho del menú lateral */
    right: 10px; /* Extiende hasta el borde derecho */
    bottom: 50px; /* Extiende hasta el borde inferior */
    border-radius: 10px 10px 10px 10px;
}

.modal-header-little {
    background-color: #5C5E5F;
    /* Cambia el color de fondo a amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-top-left-radius: 10px; /* Agrega bordes redondeados solo en la esquina superior izquierda */
    border-top-right-radius: 10px; /* Agrega bordes redondeados solo en la esquina superior derecha */
    padding: 7px; /* Agrega espacio interno para mantener el borde redondeado visible */
}


#lbltitulo {
    margin-top: 0;
    text-align: center; /* Centra el texto horizontalmente */

}

    #lbltitulo h5 {
        color: white; /* Establece el color del texto a negro */
       
    }
