@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Estilos comunes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: relative; /* Cambiado a 'fixed' */
    padding: 7px 0.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}

    nav ul {
        list-style: none;
        display: flex;
    }

        nav ul li {
            margin-left: 1.5rem;
        }

            nav ul li a {
                text-decoration: none;
                color: #000;
                font-size: 95%;
                font-weight: 400;
                padding: 4px 8px;
                border-radius: 5px;
                font-family: "Poppins", sans-serif;
            }

                nav ul li a:hover {
                    background-color: #f5f5f5;
                }

.hamburger {
    display: none;
    cursor: pointer;
}

    .hamburger .line {
        width: 25px;
        height: 1px;
        background-color: #1f1f1f;
        display: block;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
    }

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

    .hamburger-active .line:nth-child(2) {
        width: 0px;
    }

    .hamburger-active .line:nth-child(1),
    .hamburger-active .line:nth-child(3) {
        transition-delay: 0.3s;
    }

    .hamburger-active .line:nth-child(1) {
        transform: translateY(12px);
    }

    .hamburger-active .line:nth-child(3) {
        transform: translateY(-5px) rotate(90deg);
    }

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

    .menubar ul li {
        margin-bottom: 32px;
    }

        .menubar ul li a {
            text-decoration: none;
            color: #000;
            font-size: 95%;
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 5px;
        }

            .menubar ul li a:hover {
                background-color: #f5f5f5;
            }

.mini-nav {
    background-color: #0086EE;
    border-radius: 10px;
    padding: 4px;
    color: white;
    display: flex;
    align-items: center;
}

    .mini-nav img {
        width: 80px;
        height: 68px;
    }

.text-container p {
    margin: 5px 0;
}

.footer-container {
    background-color: #f0f0f0;
}

/* Estilos específicos de section.css */

section {
    view-timeline: --scroll;
    height: 100vh;
}

h1, h2, span {
    font-family: serif;
    color: white; /* Cambia el color del texto a blanco */
}

h1 {
    display: grid;
}

h2 {
    font-size: clamp(2rem, 5vw + 1rem, 6rem);
    text-align: center;
}

:is(h1, h2) {
    font-size: clamp(2.5rem, 7vw + 1rem, 10rem);
    text-align: center;
    line-height: 1;
    position: fixed;
    top: 20%;
    left: 50%;
    margin: 0;
    translate: -50% -50%;
    width: 100%;
}

/* Reset general */
*, *:after, *:before {
    box-sizing: border-box;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
    nav {
        padding: 10px;
    }

    .mini-nav img {
        width: 60px; /* Ajusta el tamaño del logo */
        height: auto;
    }

    .text-container {
        display: none; /* Oculta el texto del encabezado en dispositivos móviles */
    }

    .hamburger {
        display: block; /* Muestra el icono de hamburguesa */
    }

    nav ul {
        display: none; /* Oculta la lista de navegación en el encabezado */
        position: absolute;
        top: 60px; /* Ajusta la distancia desde la parte superior */
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega sombra al menú */
        z-index: 1;
    }

        nav ul.active {
            display: flex; /* Muestra la lista de navegación cuando el menú de hamburguesa está activo */
            flex-direction: column; /* Cambia la dirección del flexbox para que los elementos estén apilados verticalmente */
        }

    .menubar {
        padding: 20% 0; /* Ajusta el relleno del menú lateral */
    }

        .menubar ul li {
            margin-bottom: 20px; /* Ajusta el espacio entre elementos del menú lateral */
        }

    .footer-container {
        padding: 20px; /* Ajusta el relleno del pie de página en dispositivos móviles*/
                }

    section {
        height: auto; /* Ajusta la altura de la sección para que se adapte al contenido */
    }

    h1,
    h2,
    span {
        font-size: 2rem; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
}
