/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.container {
    text-align: center;
}

.heading {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forgot-password {
    text-align: left;
    margin-bottom: 15px;
    display: block;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

    .login-button:hover {
        background-color: #45a049;
    }

.social-account-container {
    margin-top: 20px;
    text-align: center;
}

.title {
    display: block;
    margin-bottom: 10px;
}

.social-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
}

    .social-button:hover {
        background-color: #ddd;
    }

.svg {
    fill: #000;
}

.agreement {
    margin-top: 20px;
    display: block;
}
