body {
}
/* Estilos para el contenedor de botones */
#flightButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre cada botón */
}

.card {
    width: 240px;
    height: 354px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.text-body {
    color: rgb(134, 134, 134);
}

/* Texto */
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Efecto de hover */
.card:hover {
    border-color: #ff4f5a;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

    .card:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

.flight-button {
    padding: 10px 20px;
    background-color: #ff4f5a;
    color: white;
    border: none;
    border-radius: 25px; /* Radio de borde para hacer los botones redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .flight-button:hover {
        background-color: #0099BE; /* Color de fondo al hacer hover sobre el botón */
    }

.text-title {
    font-size: 16px; /* Tamaño de fuente más pequeño */

    font-family: Arial, sans-serif; /* Fuente específica (cambia según tus preferencias) */
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Espacio inferior */
}

.long-card {
    background-color: #fff;
    box-sizing: border-box;
    flex-direction: column;
}


#containerDetails {
    display: flex;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    background-color: #fff; /* Color de fondo rojo */
    position: absolute; /* Posicionamiento absoluto */
    top: 55px; /* Espacio desde la parte superior */
    left: 330px; /* Ancho del menú lateral */
    right: 90px; /* Extiende hasta el borde derecho */
    bottom: 50px; /* Extiende hasta el borde inferior */
    border-radius: 10px 10px 10px 10px;
}

#camposemergencia {
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    background-color: #fff; /* Color de fondo rojo */
    position: absolute; /* Posicionamiento absoluto */
    top: 55px; /* Espacio desde la parte superior */
    left: 50px; /* Ancho del menú lateral */
    right: 66%; /* Extiende hasta el borde derecho */
    bottom: 50px; /* Extiende hasta el borde inferior */
    border-radius: 10px 10px 10px 10px;
}